p{
    display:flex;
    justify-content: center;
    margin:10px 0 10px 0;
    font-size:0.9em;
}
table{
    margin-left:auto;
    margin-right:auto;
}
.scientific{
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    display:contents;

}
th{
    text-align:left;
}