<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is my hobby.</title>
    <link rel="stylesheet" href="{{url_for('static', filename='about/about.css') }}">
</head>
<body>
    <h1>This is my hobby.</h1>

    <p>
        I am a software engineer with a fascination with biological systems.<br>
        In particular, I like modeling the behavior of those systems.
    </p>
    
    <section>
        <h4>
            In this project I incorporate modified Hodgkin-Huxley dynamics for corticospinal neurons.<br>
        </h4>
            The future endpoint for the neuron model is to implement a full compartmental model be based on <span class="scientific">Mainen & Sejnowski's 1996</span> paper 
            <span class="scientific">"Influence of dendritic structure on firing pattern in model neocortical neurons."</span>

            <p>
                $$
                \frac{dV}{dt}
                &amp;= \frac{I_{\!ext} \;-\; I_{\!na} \;-\; I_k \;-\; I_{\!leak} \;-\; I_{\!syn}}{C_m}\\
                I_k
                &amp;= g_k\,n^4\,(V - E_k)\\
                I_{na}
                &amp;= g_{na}\,m^4\,h\,(V - E_{na})\\
                I_{leak}
                &amp;= g_{leak}\,(V - E_{leak})\\
                I_{syn}
                &amp;= g_{syn}\,\,(V - E_{syn})
                $$
            </p>
        <p class="table_wrapper">
            <table>
                <tr>
                    <th>Where:</th>
                    <th>And:</th>
                </tr>
                <tr>
                    <td>
                        <p>
                            $$
                            \frac{dm}{dt} = \alpha_{m}(V)(1-m)-\beta_{m}(V)m\\\\
                            \frac{dh}{dt} = \alpha_{h}(V)(1-h)-\beta_{h}(V)h\\\\
                            \frac{dn}{dt} = \alpha_{n}(V)(1-n)-\beta_{n}(V)n\\
                            $$
                        </p>
                    </td>
                    <td>
                        <p>
                            $$
                            C_m = 1\;\mu F/cm^2\\
                            V_{rest} = -65\;mV\\
                            V_{thresh} = -55\;mV\\
                            \bar{g}_k = 120\;mS/cm^2\\
                            \bar{g}_{na} = 36\;mS/cm^2\\
                            \bar{g}_{leak} = 0.3\;mS/cm^2\\
                            E_{k} = -77\;mV\\
                            E_{na} = 50\;mV\\
                            E_{leak} = -54.4\;mV
                            $$
                        </p>
                    </td>
                </tr>
            </table>
        </p>
    </section>
    
    <br><hr><br>
    
    <section>
        <h4>
            The synapses are standard Tsodyks-Markram synapses. <br> Based on <span class="scientific">Tsodyks, M. V., Pawelzik, K., & Markram, H.</span>'s paper 
            <span class="scientific">Neural networks with dynamic synapses. (1998)</span>
        </h4>
        <p class="table_wrapper">
            <table>
                <tr>
                    <th>Where:</th>
                    <th>And:</th>
                </tr>
                <tr>
                    <td>
                        At a pre-synaptic spike time:
                        <p>
                            $$
                            u = u + u_{min} \cdot (1 - u)\\
                            g_{syn} = g_{syn} + g_{max} \cdot u \cdot r\\
                            r = r - (u \cdot r)\\
                            $$
                        </p>
                    </td>
                    <td>
                        Continuous dynamics in between spike times
                        <p>
                            $$
                            \frac{dr}{dt} = \frac{1 - r}{\tau_r}\\
                            \frac{du}{dt} = \frac{u_{min}-u}{\tau_f}\\
                            \frac{dg_{syn}}{dt} = \frac{-g_{syn}}{\tau_g}\\
                            I_{syn} = g_{syn} * (V_{post} - E_{r})\\
                            $$
                        </p>
                    </td>
                </tr>
            </table>
        </p>
    </section>
    
    <br><hr><br>
    
    <section>
        <h4>
            
            For establishing physical connections, I used a custom probabilistic connection with microchannel alignment based on <br>
            <span class="scientific">Barakat, A., Hojjati, S. M., Moayeri, N. A., et al.</span>'s paper <span class="scientific">Nano structures via laser interference patterning for guided cell growth of neuronal cells.(2016)</span>
        </h4>
        <p class="table_wrapper">
            <p>
                $$
                *_f\;\text{denotes an axon or dendrite field}\\
                $$
            </p>
            <table>
                <tr>
                    <th>Where:</th>
                    <th>And:</th>
                </tr>
                <tr>
                    <td>
                        <p>
                            $$
                            a_f^{(i)}  = \begin{cases} 
                            x = x_0 + r'_a^{(i)}cos(\theta_a) \\
                            y = y_0 + r'_a^{(i)}sin(\theta_a) \\  
                            r'_a \in[0, r_a^{(i)}] \\
                            \text{for some }s \in\{1,2\},
                            \theta_a \begin{cases}
                            [\theta_{a1}^{(i)}, \theta_{a2}^{(i)}] &amp; s = 1\\
                            [\theta_{a1}^{(i)} + \pi, \theta_{a2}^{(i)} + \pi] &amp; s = 2\\
                            \end{cases}\\
                            \end{cases}\\
                            $$
                        </p>
                    </td>
                    <td>
                        <p>
                            $$
                            d_f^{(i)}  = \begin{cases} 
                            x = x_0 + r'_d^{(i)}cos(\theta_d) \\
                            y = y_0 + r'_d^{(i)}sin(\theta_d) \\  
                            r'_d \in[0, r_d^{(i)}] \\
                            \theta_d \in [\theta_{a1}^{(i)} + \pi,\, \theta_{a2}^{(i)} + \pi]
                            \end{cases}\\
                            $$
                        </p>
                    </td>
                </tr>
            </table>
        </p>
        <p>
            This is essentially fixed 'adult' growth cones for both dendrites and axon, extending from point neurons, that get aligned<br>
            based on grooves cut into the culture base to align the neurons. 
        </p>
        <p>
            Growth will eventually be replaced by growth cone dynamics based on neurotrophic and nutrient gradients.<br>
            However, the current approach was chosen to reduce computational complexity.
        </p>
        <br>
        <h5>
            The connection is probabilistic, where the area of overlap between one neuron's axonal cones and another neuron's dendritic cones<br>
            determines the probability of connection.
        </h5>
        <p>
            $$
            \alpha = \text{scaling constant}\\
            P_{ij}\text{= the probability of synapse formation between neuron i and j}\\
            A^{(ij)}_s\text{= the area of the synapse field between neuron i and j}\\\\
            A^{(ij)}_s = |a^{(i)}_f \cap d^{(j)}_f |\\
            P_{ij} = 1 - e^{-\alpha * A_{ij}}
            $$
        </p>
        <p>
            For the purposes of this demo, the area of alignment necessary for the probability to reach 1 is arbitrarily small.
        </p>
        <br>
    </section>
</body>
<script src="https://i.upmath.me/latex.js"></script>
</html>
