<h1>
    This is my hobby.
</h1>

<p>
    I am a software engineer with a fascination with biological systems.
    In particular I like modeling biological systems. <br>
</p>

<p>
    In this project I incorporate modified hodgkins huxley dynamics.
</p>
<img  src="{{url_for('static', filename='about/images/hh-2.png') }}">
<p>
    Adding on to this there is an 
    <span class="scientific"> I<sub>synapses</sub> </span> and an <span class="scientific"> I<sub>stimulus</sub></span>
    <br> Where <span class="scientific"> I<sub>synapses</sub></span> is the summation of all the synapse
    and <span class="scientific"> I<sub>stimulus</sub></span> is the input stimulus.
</p>

<p>
    The synapses are standard tsodyks markram synapses. 
</p>

<img  src="{{url_for('static', filename='about/images/tsodyks.png') }}">

<link rel="stylesheet" href="{{url_for('static', filename='about/about.css') }}">