<!DOCTYPE html>
<html>

    <head>
        <!-- ONLY PLACE NON REFERENCING SCRIPTS IN THE HEADER-->
        <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='background/background.css') }}">
        
        <!--navigation style-->

        <link rel="stylesheet" href="{{url_for('static', filename='nav/nav.css') }}">

    </head>
    
    <body>

        {% include 'nav.html' %}
        <main id="mainContent">
            {% include page_name %}
            <!-- holder for inserting connection to other snippets-->

            
        </main>
        <script src="{{url_for('static', filename='nav/nav.js') }}"></script>
        
    </body>
    
</html>
