<link rel="stylesheet" href="{{url_for('static', filename='home/home.css') }}">
<h1>Hello, I am Adam Peterson</h1>

<p>
    This is my Neuron Simulation!<br>
    It was made using hodgkin huxley neuron model.
    connected using tsodyks markram synapse models.<br> 
    The entire project was built from scratch!<br><br>

    The simulation is in the simulation tab. You can click the maing graph to add electrodes,
    click neurons to see properties, or hover over neurons and synapses to see their basic
    information. <br>

    <b>To set electrode currents, right click on the electrodes and hit enter when you've
    filled out each of the fields</b>


</p>

<button id="start_sim_home_btn" onclick="location.href = './simulation'"> Lets get started!</button>