<!DOCTYPE html>
<link rel="stylesheet" href="{{url_for('static', filename='home/home.css') }}">
<h1>Hello, I am Adam Peterson</h1>

<p>
    <strong>This is my Neuron Culture Simulation!</strong><br>
    It was made using Hodgkin-Huxley neuron models connected via Tsodyks-Markram synapse models, with connections formed through probabilistic synaptogenesis.<br>
    <strong>I am actively searching for a job.</strong>

    <br><br><hr><br>

    This simulation was built from scratch!
    The backend uses Flask, and the model is designed to be stored in JSON or a NoSQL database.
    The simulation is written in Python, using Shapely and NumPy for synapse generation.

    <br><br><hr><br>

    <strong>You can click the main graph to add electrodes,
    click neurons to see properties, or hover over neurons and synapses to see their basic
    information.</strong><br>

    <strong>To set electrode currents</strong>, right-click on the electrodes and hit enter when you've
    filled out each of the fields.<br>

    <em>For performance reasons, network complexity is limited and synaptic strengths are set high to ensure visible neural activity. These settings highlight interactive features, not biological accuracy.</em>
    <br><br>
</p>

<button id="start_sim_home_btn" onclick="location.href = './simulation'">Let's get started!</button>
