<!DOCTYPE html>
<nav>
    <ul id="left_nav">
        <li>
            <img id="icon" alt="Neuron Icon" src="{{url_for('static', filename='nav/images/neuron.png') }}">
        </li>
    </ul>
    <ul id="right_nav">
        <li class="nav_button_container">
            <button class="nav_button">Home</button>
        </li>
        <li class="nav_button_container">
            <button class="nav_button">Simulation</button>
        </li>
        <li class="nav_button_container">
            <button class="nav_button">About</button>
        </li>
    </ul>
</nav>
