<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

<script type="module" src="{{url_for('static', filename='graph/simulation.js') }}"></script>

<script type="module" src="{{url_for('static', filename='graph/graph.js') }}"></script>
<script type="module" src="{{url_for('static', filename='graph/contextMenu.js') }}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='graph/graph.css') }}">

<h1> Network Simulation </h1>
<figure id = "main_graph">
    <div id = "chart_container">

    </div>
</figure>
<section id="chart_bottom">
    <ul id="left_inputs">
        <li id="pause_button_container">
            <button id="pause_button" class="play" type="button">
        </li>
    </ul>
    <ul id="left_inputs">
        <li>
            Electrode Width: 
            <input id="electrode_width" class="electrode_input" type="number" value="0.75">

            Electrode Height: 
            <input id="electrode_height" class="electrode_input" type="number" value="0.75">
        </li>
    </ul>
</section>

<div id="customContextMenuHolder" class="overlappingMenu">
    <ul id="customContextMenu">
        <li class="buttonHolder">
            <button>
                Sin
            </button>
        </li>
        <li class="buttonHolder">
            <button>
                Square
            </button>
        </li>
        <li class="buttonHolder">
            <button>
                Constant
            </button>
        </li>
        <li class="buttonHolder">
            <button>
                None
            </button>
        </li>
    </ul>
    <div id="contextHoverTwoEntries" class="overlappingMenu contextText">
        <section>
            <span>Frequency(hz):</span>
            <input type="text" class="textField" id = "freq" value="0">
        </section>
        <section>
            <span>Max Current(µA):</span>
            <input type="text" class="textField" id="maxCurrent" value="0">
        </section>
        
    </div>
    
    <div id="contextHoverOneEntry" class="overlappingMenu contextText">
        Current(µA): <input type="text" id="maxCurrent" class="textField" value="0">
    </div>
</div>


