
nav>ul{

    height:5vh;
    min-height:28px;

    display:flex;
    align-items:center;

    list-style:none;
}
nav{
    height:5vh;
    width:100%;

    position:fixed;
    min-height: 28px;
    z-index: 1000;

    background-color:#0BAB9D;

    display:flex;
    justify-content: space-between;
    align-items:center;
}
#icon{
    height:5vh;
}
.nav_button{
    border:none;
    background-color: #0BAB9D;
    font-weight:600;
}
.nav_button:hover{
    background-color: #0b998d;
}
.nav_button:active{
    background-color: #117c73;
}
.nav_pressed{
    color:#00ffe5;
}
#right_nav,
.nav_button_container,
.nav_button{
    height:100%;
    padding-left:10px;
    padding-right:10px;
}
