/* Navigation Bar Container */
nav {
    height: 5vh;
    min-height: 28px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #0BAB9D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Lists */
nav > ul {
    height: 5vh;
    min-height: 28px;
    display: flex;
    align-items: center;
    list-style: none;
}

/* Navigation Icon */
#icon {
    height: 5vh;
}

/* Navigation Buttons */
.nav_button {
    border: none;
    background-color: #0BAB9D;
    font-weight: 600;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
}

.nav_button:hover {
    background-color: #0b998d;
}

.nav_button:active {
    background-color: #117c73;
}

/* Active Button State */
.nav_pressed {
    color: #00ffe5;
}

/* Right Navigation Elements */
#right_nav,
.nav_button_container {
    height: 100%;
    padding: 0 10px;
}
