<!DOCTYPE html>
<link rel="stylesheet" href="{{url_for('static', filename='home/home.css') }}">
<h1>Hello, I am Adam Peterson</h1>

<p>
    <strong>This is my Neuron Culture Simulation!</strong><br>
    It was made using hodgkin huxley neuron models
    connected using tsodyks markram synapse models. I am actively searching for a job.
    
    
    <br><br><hr><br>

    This simulation was built from scratch!
    For the server, I used flask and the entire model was made to be stored in json or a nosql database. 
    The entire simulation is written in Python, only incorporating Shapely and Numpy for synapse generation!

    <br><br><hr><br>



    The simulation is in the simulation tab. 
    
    <strong>You can click the main graph to add electrodes,
    click neurons to see properties, or hover over neurons and synapses to see their basic
    information. <br><br>

    To set electrode currents, right click on the electrodes and hit enter when you've
    filled out each of the fields</strong>

</p>

<button id="start_sim_home_btn" onclick="location.href = './simulation'"> Lets get started!</button>